
/* Main header */
h1 {
    color:blueviolet;
}


/* Default Text */
*[lang^=en] {
    color: #b543b5;
    font-family: 'Akronim', cursive;
    text-decoration: underline purple;
}

/* Top Header */
div.topHeader {
    text-align: center;
    border-style: dotted;
    border-color: blue;
    border-radius: 5ch;
    margin:auto;
}

a[href^="#"]:active {
    color: pink;
    
}

a:hover {
    color:green;
}

h1,h2,h3 {
    font-family:fantasy;
}

ul li {
    list-style-type: square;
    color: orangered;
}
section > h2 {
    color: hsla(120, 200%, 90%, 1.0);
}

li + li {
    color:rgb(121, 121, 27);
}

div ~ p {
    color:brown;
}

p.red-text {
    color: red;
}

p.d1 {
    display: block;
}

p.d2 {
    display: inline-block;
}

section.main_min {
    height: auto;
    width: auto;
    max-width: 1in;
    min-width: 2%;
    position:relative;
    left: 1mm;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
    border-style: dashed;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    
}

li.formatting {
    position: absolute;
    left: 2cm;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;

}
.item {
    flex-shrink: 3;
    flex-grow: 4;
    flex-basis: auto;
}

.gridContainer {
    display: grid;
    border-style: solid;
    border-width: 6px;
    background-color: aquamarine;
}

.gridItem {
    grid-column-start: 2;
    grid-row-start: row1-start;
    grid-row-end: 3;
    grid-column-end: 5;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: pink;
    }
}
