
/* Main header */
h1 {
    color:blueviolet;
}


/* Default Text */
*[lang^=en] {
    color: #b543b5;
    font-family: 'Akronim', cursive;
    text-decoration: underline purple;
}

/* Top Header */
div.topHeader {
    text-align: center;
    border-style: dotted;
    border-color: blue;
    border-radius: 70%;
}

a[href^="#"]:active {
    color: pink;
    
}

a:hover {
    color:green;
}

h1,h2,h3 {
    font-family:fantasy;
}

ul li {
    list-style-type: square;
    color: orangered;
}
section > h2 {
    color: hsla(120, 200%, 90%, 1.0);
}

li + li {
    color:rgb(121, 121, 27);
}

div ~ p {
    color:brown;
}

p.red-text {
    color: red;
}

p.d1 {
    display: block;
}

p.d2 {
    display: inline-block;
}

section.main_min {
    height: auto;
    width: auto;
    max-width: 90px;
    min-width: none;
    position:relative;
    left: 50px;
}

li.formatting {
    position: absolute;
    left: 300px;
}

.container {
    display: flex;
    flex-wrap: nowrap;

}
.item {
    flex-shrink: 3;
    flex-grow: 4;
    flex-basis: auto;
}